courses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Root Element -->
    <xs:element name="eduverse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="courses" type="coursesType" />
                <xs:element name="contactInfo" type="contactInfoType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Courses Container Type -->
    <xs:complexType name="coursesType">
        <xs:sequence>
            <xs:element name="course" type="courseType" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- Individual Course Type -->
    <xs:complexType name="courseType">
        <xs:sequence>
            <xs:element name="title" type="xs:string" />
            <xs:element name="category" type="xs:string" />
            <xs:element name="instructor" type="instructorType" />
            <xs:element name="description" type="xs:string" />
            <xs:element name="duration" type="xs:string" />
            <xs:element name="lectures" type="xs:positiveInteger" />
            <xs:element name="level" type="xs:string" />
            <xs:element name="language" type="xs:string" />
            <xs:element name="price" type="priceType" />
            <xs:element name="originalPrice" type="priceType" />
            <xs:element name="rating" type="ratingType" />
            <xs:element name="reviews" type="xs:nonNegativeInteger" />
            <xs:element name="certificate" type="xs:boolean" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>

    <!-- Instructor Type -->
    <xs:complexType name="instructorType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="designation" type="xs:string" />
            <xs:element name="experience" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <!-- Price Type with currency attribute -->
    <xs:complexType name="priceType">
        <xs:simpleContent>
            <xs:extension base="xs:decimal">
                <xs:attribute name="currency" type="xs:string" use="required" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Rating Type (restricted to 0.0 - 5.0) -->
    <xs:simpleType name="ratingType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.0" />
            <xs:maxInclusive value="5.0" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Contact Info Type -->
    <xs:complexType name="contactInfoType">
        <xs:sequence>
            <xs:element name="address" type="xs:string" />
            <xs:element name="email" type="xs:string" />
            <xs:element name="phone" type="xs:string" />
            <xs:element name="website" type="xs:anyURI" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>
